DOTFILES_DIR=$HOME/dotfiles
DOTFILES_BACKUP_DIR=$HOME/backups
PORTAINER_HTTP_PORT=9000
PORTAINER_EDGE_PORT=8000
UPTIME_KUMA_PORT=3001
HOMEPAGE_PORT=8080
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=app
POSTGRES_PORT=5432
REDIS_PORT=6379
